html {
   
    position: relative;
    min-height: 100%;
  }
  /* @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }  */   
 
  
  body {
    background-color: black;
    margin-bottom: 60px;
  }  
h2 {
    font-size: 2.0em;
    color: #f9f1e9;
    font-family: 'Kalnia', serif;
}
/* .main-div{
     background-color: black;
}  */

.nav-header {
    background-color: #000000;
    overflow: hidden;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 30px;
}

.nav-item ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item ul li {
    padding: 14px 20px;
    display: inline;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Kalnia', serif;
}

.nav-item ul li:hover {
    background-color: #ddd;
    color: black;
}


/* ul li{
    margin-top: inherit;
    padding-left: 230px;
    margin-right: 15px;
    font-size: 18px;
    font-family: 'Kalnia', serif;
}
ul{
    list-style: none;
}
li{
    color: #f9f1e9;
    display: inline-block;
    margin-right: 10px;
} */
.line{
    margin: 2rem;
}
.main-container{
    padding-left: 50px;
    margin-bottom: 60px;
}

/* Header */
.large-header{  
  padding: 10px 20px 30px 0px;
  margin: 10px 30px 20px 30px;
  position: relative;
  /* width: 100%; */
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
#large-header{
  background-image:url('../resources/image/pexels-danbuilds-633409.jpg');
  background-size: cover;
background-repeat: no-repeat;
}
.main-title{
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.demo-1 .main-title{
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}
.main-title .thin{
  font-weight: 200;
}

/* Hamburger menu */
.hamburger-menu {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

/* Centered content */
.centered-content {  
  position: absolute;
  top: 40%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-content p{
  color: #f9f1e9;
}

.centered-content h2{
  text-align: justify;
}

.about-me{
  padding: 30px 10px 130px;
  margin: 30px 30px 30px;
  background-color: rgb(22, 22, 22);
}
.about-section{
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    padding: 0 50px;
    align-items: center;
    justify-content: center;
}

/* Animation setup */
.about-img, .about-detail {
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out; /* Transition effect */
}

/* For the image: Slide in from right to left */
.about-img {
  /* transform: translateX(-100%); Start off-screen to the right */
  animation: 3s slide-right;
}

/* For the details: Slide in from left to right */
.about-detail {
  transform: translateX(100%); /* Start off-screen to the left */
}

/* Animation when section becomes visible */
.about-img.show {
  opacity: 1;
  transform: translateX(0); /* Slide into view */
}

.about-detail.show {
  opacity: 1;
  transform: translateX(0);  /* Slide into view */
}

.about-section .about-img {
    flex: 1;
    min-width: 250px; /* Ensures the image has a minimum width */
    height: 350px; /* Adjust height as needed */
    background-image: url('../resources/image/pexels-goumbik-296115.jpg');
    background-size: cover;
    background-position: center;
    margin-right: 50px; /* Adds space between image and text */
}
.about-section .about-detail {
  flex: 1.5;   
  height: 300px;
  margin-left: 20px; /* Adds space between image and text */
}
.about-section .about-detail h2{
  margin-top: -5px;
}
.about-section .about-detail h3{
  color: #f9f1e9;
}

.skill{
  padding: 30px 10px 30px;
  margin: 30px 30px 30px;
}

.skill .skill-section{
  text-align: center;
}

.skill .skill-section p{
  color: #f9f1e9;
}

.skill-icons{ 
  text-align: center;
  padding: 50px 20px;
}
.skills-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill-icons .first-icon{  
    margin: 20px 0;
}

.skill-icons .second-icon{ 
    margin: 20px 0;
}

.skill-icons .third-icon{ 
    margin: 20px 0;
}

.skill-icons .forth-icon{ 
  margin: 20px 0;
}

.skill-icons img{
  width: 60px;
  height: 60px; 
  transition: transform 0.3s ease, filter 0.3s ease;  
}

.skill img:hover { 
  transform: scale(1.4);
}
.skills-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill-icons  .forth-icon{ 
  margin: 20px 0;
}

.skill-icons  .fivth-icon{ 
  margin: 20px 0;
}

.skills-container3 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.work-section{
  padding: 30px 30px 130px;
    margin: 30px 30px 30px;
}

/* .work-section .work-experience-text{
  margin-bottom: 20px;
} */

.work-section  h2{
  text-align: left;
  margin-left: 50px;
}

.work-section .work-experience{
  display: flex;
  flex-wrap: wrap;
    padding: 0 50px;
   
    justify-content: center;
}

.work-experience .work-experience-img{
  flex: 0.5;
  min-width: 250px; 
  height: 300px;  
  background-image: url('../resources/image/pexels-negativespace-160107.jpg');
  background-size: cover;
  background-position: center;
  margin-right: 90px; 
}

.work-experience .work-experience-left{
  flex: 1;
  height: 300px;
  margin-left: 20px; /* Adds space between image and text */
}

/* .work-experience .work-experience-img img{ 
  min-width: 250px; 
  height: 200px;  
  background-image: url('../resources/image/pexels-negativespace-160107.jpg');
  background-size: cover;
  background-position: center;
  margin-right: 90px; 
} */

.work-experience .work-experience-left h3{  
  color: #a6b6f2;
  font-size: 1.5em;
  margin-top: 0px; 
}

.work-experience .work-experience-left h4{
  color: #a6b6f2;  
  margin-top: 0px;   
  font-size: 1.2em;
}
.work-experience .work-experience-left h5{
  color: #a6b6f2;
  display: list-item;
  margin-top: 0px; 
  margin-left: 40px;
  font-size: 1.2em;
}

.download-resume button{
  
  display: block;
  margin: 100px auto;
  background-color: rgb(207, 203, 203);
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;
    color: rgb(0, 0, 0);
    padding: 20px;
   
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
  .demo-1 .main-title{
    font-size: 3em
  }
  html {
    font-size: 16px;
  }
  .nav-bar {
    flex-direction: column;
    align-items: flex-start;
}

.nav-item ul {
    display: none;
    flex-direction: column;
    width: 100%;
}

.nav-item ul li {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #fff;
}

.nav-item ul li:first-child {
    border-top: none;
}

.hamburger-menu {
    display: block;
}

.nav-item ul.show {
    display: flex;
}
}